#pagecontent {
 margin-left : 50px;
}

.maintitle{
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: calc(1.425rem + 1.5vw);
  padding-top: 20px;
}

.col-sm{
  text-align: center;
}

.col-sm:first-child{
    border-right: 3px solid;
}

@media (max-width: 576px) {
  .col-sm:first-child{
      border-right: none;
      margin-bottom: 30px;
  }
}

.titlecreate{
  margin-top: 20px;
}

.titlesearch{
  margin-top: 20px;
}

img{
  width: 50%;
  height: auto;
  margin: auto;
}

p{
  display: block;
}

.row{
  margin-top: 30px;
  margin-bottom: 30px;
}

.formcontainer{
  margin: auto;
  margin-top: 5%;
  max-width: 400px;
}

.formcontainer h2{
  margin-bottom: 20px;
}

.btn-primary, .btn-primary:visited {
    background-color: #FF5185!important;
}

.btn-primary:hover, .btn-primary:active{
  background-color: #FF0046!important;
}
