/* --------------------- common -------------------- */
#pagecontent {
 margin-left : 50px;
 /* font-family: 'Lobster', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif; */
}

.successmsg p{
  color: green!important;
}

.formcontainer{
  margin: auto;
  margin-top: 5%;
  max-width: 400px;
}

.formcontainer h2{
  margin-bottom: 20px;
}

.errormsg{
  color: red;
}

/* .btn, .btn:visited {
  color: white;
  background-color: #FF5185;
}

.btn:hover, .btn:active{
    color: white;
    background-color: #FF0046;
} */

button, button:active, button:hover, button:focus{
  border: none;
  background: none;
  outline: none;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blue{
  color: blue!important;
}

.orange{
  color : orange!important;
}

.red{
  color: red!important;
}

.bggreen{
  background-color: green;
}

.bgorange{
  background-color: orange;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* -------------- pageacceuil ------------------*/
.maintitle{
  font-family: 'Lobster', cursive;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: calc(1.425rem + 1.5vw);
  padding-top: 20px;
}

.containericonaccueuil{
  text-align: center;
}

.containericonaccueuil:first-child{
    border-right: 3px solid;
}

.titlecreate{
  margin-top: 20px;
}

.titlesearch{
  margin-top: 20px;
}

.logoaccueil{
  width: 50%;
  height: auto;
  margin: auto;
}

.containericonsaccueuil{
  margin-top: 30px;
  margin-bottom: 30px;
}
 /* --------------------- page crea compte ------------------------- */

#createaccount{
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}

#forgotaccount{
  margin-top: 5px;
  font-size: 13px;
}

/* -------------------------------- page infos compte ---------------------------*/

.infoscompte{
  width: 100%;
  max width: 400px;
  margin-top: 100px;
}

.ppcontainermyaccount{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}

.ppcontainermyaccount img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#changeppcontainer{
  position: relative;
}

#changeppcontainer input:first-child{
  margin-bottom: 10px;
}

#formchangepp{
  position: absolute;
  top: 10px;
  left: 110px;
}

#btnchangepp{
  position: absolute;
  top: 5px;
  left: 5px
}

/* ------------------- page exploration boutiques crées ------------------ */

.containerboutique{
  width: 100%;
  max-width: 960px;
  margin: auto;
  margin-top: 40px;
	padding: 10px 20px 10px 20px;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

.containerboutique a, .containerboutique a:link, .containerboutique a:visited, .containerboutique a:hover, .containerboutique a:focus, .containerboutique a:active{
    color: inherit;
    text-decoration: none;
}

.containerboutique li{
  margin-bottom: 10px;
}

.headercontainerboutique{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.containerimgboutique{
  width: 70px;
  height: 70px;
  margin-right : 10px;
  overflow: hidden;
}
.containerimgboutique label{
  position: absolute;
}

.containerimgboutique input{
  display: none;
}


.logoboutique{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vuemyshops .modal-dialog{
  margin-top: 150px;
}

.titreboutique{
  margin: 0;
}

.boutiquestatuscontainer{
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
}

.boutiquestatus{
  color: white;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.boutiquesactions{
  text-align: right;
}

#emptyboutique{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  margin-bottom: 40px;
}

.emptyboutique img{
  width: 100px;
  height: 100px;
  transition: 0.2s;
}

.emptyboutique img:hover{
  width: 140px;
  height: 140px;
  transition: 0.2s;
}

/* ----------------------------- custom shop -------------------------------- */

.shopnav{
  box-shadow: 0 4px 2px -2px gray;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 64px;
  transition: 0.5s;
}

.shopnavopened{
  height: auto;
  transition: 0.5s;
}

.shopnav .containerbtnnav{
  display: none;
  height: 64px;
}

#navopen{
  padding: 0;
    transition: 0.3s;
}

.openednavbtn{
  transform: rotate(180deg);
    transition: 0.3s;
}

.containernavelements{
  max-width: 1140px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.shopnav .elements{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 20px;
}

.aboutus{
    padding-bottom: 25px;
}

.aboutus h1{
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.aboutusimg{
  display:block;
  margin: auto;
  max-width: 350px;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 3px;
}

.categorie{
  padding-top: 25px;
}

#addcategory{
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}

#addcategory h4{
  margin: 0;
}

#addcategory:hover{
  border-style: solid;
}

.unarticle{
  background-color: #E8E8E8;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
  width: 200px;
}

.unarticle a, .unarticle a:link, .unarticle a:visited, .unarticle a:hover, .unarticle a:focus, .containerboutique a:active{
    color: inherit;
    text-decoration: none;
}

.unarticle h6{
  margin-top: 6px;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.unarticle .imgcontainer{
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.unarticle .itemimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categorie h4{
  margin-bottom: 20px;
}

#emptycontainerarticle{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 232px;
}

#emptycontainerarticle img{
  width: 80px;
  height: 80px;
  transition: 0.2s;
}

#emptycontainerarticle img:hover{
  width: 120px;
  height: 120px;
  transition: 0.2s;
}

.addsection{
  height: 20px;
  background-color: grey;
}

.addsection img{
  position: relative;
  z-index: 2;
  margin-left: 40px;
  width: 30px;
  height: 30px;
}

.removesection{
  float: left;
}

.removesection img{
  margin-left: 40px;
  width: 30px;
  height: 30px;
}

.changepictureicon{
  width: 60px;
  height: auto;
  transition: 0.2s;
}

.changepictureicon:hover{
  width: 80px;
  height: auto;
  transition: 0.2s;
}

.changepicturelink{
  position: absolute;
}

form.changepicturelink input{
  display: none;
}

.linkdeleteitem{
  position: absolute;
  top : 0px;
  right: 0px;
}

.deleteitemicon{
  width: 25px;
  height: 25px;
}

.linkdeletecategory{
  margin-left: 10px;
}

.deletecategoryicon{
  width: 30px;
  height: 30px;
}




/* ---------------------------- medias querys -------------------------- */

@media (max-width: 576px) {
  .col-sm:first-child{
      border-right: none;
      margin-bottom: 30px;
  }
}

@media(max-width:768px){
  .aboutus p{
    padding-top: 20px;
    margin: auto;
    text-align: justify;
  }

  .containernavelements{
    padding: 0px;
  }

  .shopnav .elements{
    display: block;
    text-align: center;
  }

  .shopnav .containerbtnnav{
    display:block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
  }
}
