header{
  background-color: #283F6D;
}

#mabel_logo{
  width: 100px;
  height: auto;
  padding: 10px;
}

#headerlink{
  margin-left: 160px;
}

@media (max-width: 576px) {
  #mabel_logo{
    margin-left: 0px;
    text-align: center;
  }
}
