header{
  background-color: #2B55FF;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
    align-items: center;
}

#mos_title{
  font-size: 20px;
  margin: 0;
}

#mos_logo{
  width: 50px;
  height: 50px;
}
